.roles-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	place-content: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__role {
		margin: 2rem auto;
		font-size: 3rem;
		text-transform: uppercase;
	}

	&__line-gradient {
		height: 10rem;
		width: 0.2rem;
	}

	&__image {
		img {
			height: 8rem;
			aspect-ratio: 1;
			object-fit: contain;
		}
	}
}
