---
import PartnersSwiper from '../../components/2025PartnersSwiper.astro';
---

<section class='bg-light-green py-5'>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-lg-8 text-center'>
				<h2 class='text-capitalize'>
					We're excited to welcome our incredible partners to this year's conference!
				</h2>
			</div>
		</div>
		<div class='row my-4'>
			<PartnersSwiper />
		</div>
	</div>
</section>
