---
import PartnersSwiper from '../../components/2025PartnersSwiper.astro';
---

<section class='bg-light-green py-5'>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-lg-8 text-center'>
				<h2 class='text-capitalize'>
					Welcoming Our Inspiring Conference Partners
				</h2>
				<p class='fs-5 text-dark'>
					We're excited to welcome the incredible speakers and
					ministries partnering with us for this year's conference.
					Their insights will inspire and equip you for the journey
					ahead!
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='col'><PartnersSwiper /></div>
		</div>
	</div>
</section>
