---
// Components
import { Image } from 'astro:assets';
import Accordion from '../../components/2025Accordion.astro';

// Images
import iconsRow from '../../assets/png/icons-row.png';

import { AccordionItems } from './TrackInfo';
---

<style>
	.icons-row {
		max-height: 100px;

		@media screen and (min-width: 768px) {
			& {
				max-height: 200px;
			}
		}

		@media screen and (min-width: 1200.02px) {
			& {
				max-height: 300px;
			}
		}
	}
</style>
<section
	id='track-info'
	class='track-info text-bg-secondary py-5'
>
	<Image
		src={iconsRow}
		alt=''
		aria-hidden='true'
		class='object-fit-contain mw-100 icons-row'
	/>
	<div class='container col-xl-10'>
		<div class='row my-5 flex-column'>
			<div class='col-lg-7'>
				<h2>Track Information</h2>
			</div>
			<div class='col-12'>
				<p class='fs-5'>
					At the Grow Together 2025 Conference, we’re excited to
					introduce new courses in Worship and Youth
					Ministry, alongside our core sessions in HR, Finance, and
					leadership. These fresh offerings, led by renowned experts
					from Kingdom One, Likewise Worship, Rescue a Generation, and
					XP Gathering, will provide you with cutting-edge insights
					and practical tools to take your ministry to the next level.
					Whether you’re enhancing your worship teams
					or investing in the next generation of leaders, these
					expert-led sessions will equip you with the skills and
					strategies you need to make a lasting impact. Don’t miss
					this opportunity to learn from the best and connect with
					others who share your passion for growth and transformation.
				</p>
			</div>
		</div>
		<div class='row row-cols-1 row-cols-lg-2 row-gap-4'>
			{
				AccordionItems.map(({ title, items }) => (
					<div class='col d-flex flex-column row-gap-4'>
						<Accordion
							title={title}
							items={items}
						/>
					</div>
				))
			}
		</div>
	</div>
</section>
