@use "./mixins" as m;

/* //////////
// CLIP PATHS
/////////// */

:root {
	--clip-path-offset: 5%;

	@include m.media-breakpoint-up(lg) {
		--clip-path-offset: 10%;
	}
	--clip-path-drop: calc(0% + var(--clip-path-offset));
	--clip-path-lift: calc(100% - var(--clip-path-offset));
	--lift-left-bottom: polygon(
		0 0,
		100% 0,
		100% 100%,
		0% var(--clip-path-lift)
	);
	--lift-right-bottom: polygon(
		0 0,
		100% 0,
		100% var(--clip-path-lift),
		0% 100%
	);
	--drop-left-top: polygon(
		0 var(--clip-path-drop),
		100% 0,
		100% 100%,
		0 100%
	);
	--drop-right-top: polygon(
		0 0,
		100% var(--clip-path-drop),
		100% 100%,
		0 100%
	);
	--drop-left: polygon(
		0 var(--clip-path-drop),
		100% 0,
		100% 100%,
		0 var(--clip-path-lift)
	);
	--drop-right: polygon(
		0 0,
		100% var(--clip-path-drop),
		100% var(--clip-path-lift),
		0 100%
	);
	--zig-color-left: polygon(
		0 var(--clip-path-drop),
		100% 0,
		100% var(--clip-path-lift),
		0 100%
	);
	--zag-color-right: polygon(
		0 0,
		100% var(--clip-path-drop),
		100% 100%,
		0 var(--clip-path-lift)
	);
	--zig-color-right: polygon(
		0 0,
		100% var(--clip-path-drop),
		100% 100%,
		0 var(--clip-path-lift)
	);
	--zag-color-left: polygon(
		0 var(--clip-path-drop),
		100% 0,
		100% var(--clip-path-lift),
		0 100%
	);
}
