@forward './bs_breakpoints';
@forward './clip-paths';
@use './variables' as v;

@mixin displayFlex(
	$direction: row,
	$main: flex-start,
	$cross: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $main;
	align-items: $cross;
}

@mixin dropShadow($color: black) {
	box-shadow: 2px 4px 8px rgba($color, 0.35);
}

@mixin fitMedia($selector: img, $fit: contain, $position: center) {
	#{$selector} {
		width: 100%;
		height: 100%;
		object-fit: $fit;
		object-position: $position;
	}
}

@mixin absolute_100 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

@mixin background-layers($color: black, $opacity: 0.75, $has-overlay: true) {
	@include absolute_100;

	& > :nth-child(1) {
		@include absolute_100;
		z-index: 1;
	}

	& > :nth-child(2) {
		@include absolute_100;
		@if ($has-overlay) {
			z-index: 1;
			background-position: center;
			background-size: cover;
		} @else {
			z-index: 2;
		}
	}

	& > :nth-child(3) {
		@include absolute_100;
		background-color: rgba($color, $opacity);
		z-index: 2;
	}
}

@mixin box-shadow($color: black, $opacity: 0.05) {
	box-shadow: 0px 4px 2rem 4px rgba($color, $opacity);
}
