@use "../abstracts/mixins" as m;

.about {
	@include m.media-breakpoint-up(lg) {
		@include m.bg-image("../assets/png/bg-images/about.png?as=webp", cover);
		background-position: center -5rem;
		margin: -5rem auto;
		padding: 14rem 0;
	}

	@include m.media-breakpoint-up(xl) {
		background-size: contain;
		background-position: 0% -2rem;
		margin: -5rem auto;
		padding: 14rem 0;
	}

	%icons {
		position: absolute;
		height: 8rem;
	}

	&__icons {
		&--chart {
			@extend %icons;
			bottom: 0;

			@include m.media-breakpoint-up(lg) {
				bottom: 4rem;
				left: 9rem;
			}
			@include m.media-breakpoint-up(xl) {
				bottom: 9rem;
				left: 9rem;
			}
		}

		&--paper {
			@extend %icons;
			top: 0;
			left: 2rem;

			@include m.media-breakpoint-up(lg) {
				top: 5rem;
				left: 12rem;
			}

			@include m.media-breakpoint-up(xl) {
				top: 12rem;
				left: 12rem;
			}
		}

		&--dollar {
			@extend %icons;

			left: 40rem;
			top: -4rem;
			@include m.media-breakpoint-up(lg) {
				top: 3rem;
			}
		}

		&--badge {
			@extend %icons;
			top: 0;
			right: 20rem;
			@include m.media-breakpoint-up(lg) {
				top: 3rem;
				right: 40rem;
			}
		}

		&--crumpled-paper {
			@extend %icons;

			top: 45rem;
			right: 2rem;
			@include m.media-breakpoint-up(lg) {
				top: 24rem;
				right: 10rem;
			}
			@include m.media-breakpoint-up(xl) {
				top: 24rem;
				right: 5rem;
			}
		}
	}

	&__background {
		@include m.background-layers;
		background-position: left;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__content {
		z-index: 9;
		position: relative;
	}
}

.about-list {
	margin-inline-start: 0;
	font-size: 1.35em;
}
