@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.cta {
	position: relative;
	padding: 6.5rem 0;

	&__background {
		@include m.background-layers($opacity: 0.35);

		&--gradient {
			z-index: 1;
			background-image: linear-gradient(
				to bottom,
				rgba(v.$color-primary, 1) 30%,
				rgba(v.$color-secondary, 1) 90%
			);
		}

		&--color {
			z-index: 2;
			background: linear-gradient(
				to right,
				var(--color-primary--light) 30%,
				transparent 90%
			);
		}

		&--lower {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&--upper {
			background-color: rgba(black, 0.35);
		}

		&.color-right {
			@include m.clip-path("right-bottom");
		}

		&.color-left {
			@include m.clip-path("left-bottom");
		}
	}
}
