@use "../abstracts/mixins" as m;
.final-cta {
	@include m.bg-image("../assets/png/bg-images/final-cta.png?as=webp", cover);
	@include m.media-breakpoint-up(xl) {
		padding: 14rem 0;
	}

	%icons {
		position: absolute;
		height: 8rem;
		width: 8rem;

		@include m.media-breakpoint-down(lg) {
			bottom: -6rem;
		}

		@include m.media-breakpoint-down(md) {
			bottom: -9rem;
			height: 6rem;
			width: 6rem;
		}
	}

	&__icons {
		&--mug {
			@extend %icons;

			@include m.media-breakpoint-up(sm) {
				right: 0rem;
			}

			@include m.media-breakpoint-up(lg) {
				right: 4rem;
			}

			@include m.media-breakpoint-up(xl) {
				bottom: 0rem;
				right: 36rem;
			}
		}

		&--phone {
			@extend %icons;

			@include m.media-breakpoint-up(sm) {
				right: 8rem;
			}

			@include m.media-breakpoint-up(lg) {
				right: 12rem;
			}

			@include m.media-breakpoint-up(xl) {
				bottom: 8rem;
				right: 20rem;
			}
		}

		&--chart {
			@extend %icons;

			@include m.media-breakpoint-up(sm) {
				right: 16rem;
			}

			@include m.media-breakpoint-up(lg) {
				right: 20rem;
			}

			@include m.media-breakpoint-up(xl) {
				bottom: 18rem;
				right: 24rem;
			}
		}

		&--paper {
			@extend %icons;

			@include m.media-breakpoint-up(sm) {
				right: 24rem;
			}

			@include m.media-breakpoint-up(lg) {
				right: 28rem;
			}

			@include m.media-breakpoint-up(xl) {
				bottom: 30rem;
				right: 10rem;
			}
		}

		&--shield {
			@extend %icons;

			@include m.media-breakpoint-up(sm) {
				right: 32rem;
			}

			@include m.media-breakpoint-up(lg) {
				right: 36rem;
			}

			@include m.media-breakpoint-up(xl) {
				bottom: 14rem;
				right: 5rem;
			}
		}
	}

	&__background {
		@include m.background-layers;
		background-position: left;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__content {
		z-index: 9;
		position: relative;
	}
}
