@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.hero {
	position: relative;
	padding: 6.5rem 0;

	.logo {
		height: 30rem;
	}

	&__background {
		@include m.background-layers($opacity: 0.5);

		&--color {
			background: var(--color-primary);
			background: linear-gradient(
				155deg,
				rgba(v.$color-primary, 1) 80%,
				rgba(v.$color-secondary, 1) 90%
			);
		}

		&--lower {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		&--upper {
			background-color: rgba(black, 0.35);
		}

		&.color-right {
			@include m.clip-path("right-bottom");
		}

		&.color-left {
			@include m.clip-path("left-bottom");
		}
	}

	&__content {
		z-index: 4;

		&--headline {
			color: white;
			font-family: var(--font-poppins);
		}

		&--subheadline {
			font-size: 1.35em;
			color: white;
		}

		&--btn {
			display: block;
			align-self: flex-start;
		}
	}

	&__words {
		.col {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&--word {
			font-weight: 700;
			font-size: 2.5rem;
			margin-inline-end: 10px;
		}
	}
}
