@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.k1-bg-gradient {
	background: var(--color-primary);
	background: linear-gradient(
		133deg,
		rgba(v.$color-primary, 1) 29%,
		rgba(v.$color-primary--dark, 1) 57%,
		rgba(v.$color-secondary, 1) 95%
	);

	&--reverse {
		background: var(--color-primary);
		background: linear-gradient(
			-133deg,
			rgba(v.$color-primary, 1) 29%,
			rgba(v.$color-primary--dark, 1) 57%,
			rgba(v.$color-secondary, 1) 95%
		);
	}
}

.bg-color-primary {
	background-color: var(--color-primary);
	color: white;

	&--dark {
		background-color: var(--color-primary--dark);
		color: white;
	}

	&--darkest {
		background-color: var(--color-primary--darkest);
		color: white;
	}
}
