---
// Components
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/heros/2025Hero.astro';
import About from '../sections/About.astro';
import CTA from '../sections/2025/CTA.astro';
import SectionOverview from '../sections/2025/SectionOverview.astro';
import TrackInfo from '../sections/2025/TrackInfo.astro';
import Partners from '../sections/2025/Partners.astro';
import FinalCTA from '../sections/2025/FinalCTA.astro';
import LocationDetails from '../sections/LocationDetails.astro';
import CirclesBG from '../sections/2025/CirclesBG.astro';
import TestimonialCard from '../components/TestimonialCard.astro';

import Sponsors from '../sections/Sponsors.astro';
import Footer from '../sections/Footer.astro';

// Styles
import 'aos/dist/aos.css';

// Images
import disney from '../assets/jpg/disneyland.jpg';
import farm from '../assets/jpg/knotts-berry-farm.jpg';
import universal from '../assets/jpg/universal-studios.jpg';

const testimonials = [
	{
		quote: 'Very helpful and informative. Julia was a great presenter, she communicated clearly and was very friendly and helpful.',
		name: 'S. White',
	},
	{
		quote: 'The information given was valuable. I believe it would have been helpful for those newer to HR to touch on the legal requirements of hiring and onboarding since most of the attendees are California employers. At the very least, a disclaimer to know California law when hiring.',
		name: 'J. Baker',
	},
	{
		quote: 'Very organized. Sessions were communicated with structure, practical examples, and clarity. ',
		name: 'L. Faulkner',
	},
];
---

<Layout title='Grow Together Conference 2025'>
	<CirclesBG
		circles={[
			{
				color: 'green',
				position: 'top-right',
				size: 'large',
			},
			{
				color: 'yellow',
				position: 'center-left',
				size: 'medium',
			},
			{
				color: 'dark',
				position: 'bottom-right',
				size: 'small',
			},
		]}
	>
		<Hero />
		<About />
	</CirclesBG>
	<Partners />
	<CirclesBG
		circles={[
			{
				color: 'dark',
				position: 'top-left',
				size: 'small',
			},
			{
				color: 'yellow',
				position: 'center-right',
				size: 'medium',
			},
		]}
	>
		<CTA />
	</CirclesBG>
	<!-- <SectionOverview /> -->
	<!-- <TrackInfo /> -->
	<!-- <Testimonial /> -->
	<section
		id='testimonials'
		class='text-bg-primary'
	>
		<div class='container py-5'>
			<div class='row row-cols-lg-3 gap-3 gx-0'>
				{
					testimonials.map(({ quote, name }) => (
						<TestimonialCard
							quote={quote}
							name={name}
						/>
					))
				}
			</div>
		</div>
	</section>
	<Sponsors />
	<CirclesBG
		circles={[
			{
				color: 'dark',
				position: 'top-left--extreme',
				size: 'small',
			},
			{
				color: 'yellow',
				position: 'top-right',
				size: 'large',
			},
			{
				color: 'green',
				position: 'center-left',
				size: 'medium',
			},
		]}
	>
		<FinalCTA />
		<LocationDetails
			location={{
				name: 'San Dimas',
				description: `San Dimas offers a variety of attractions and fantastic hotels just a short distance from the conference venue.`,
				date: 'May 7th & 8th, 2025',

				hotelsLink: `https://www.google.com/maps/search/Hotels/@34.1007971,-117.8355881,14.91z/data=!4m8!2m7!3m6!1sHotels!2sONE%26ALL+Church,+San+Dimas,+1404+W+Covina+Blvd,+San+Dimas,+CA+91773!3s0x80c328cdd9ffd539:0xb3be8d1e218251f1!4m2!1d-117.8365508!2d34.0984172?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D`,
				iframe: {
					src: `https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.9834712109318!2d-117.83685611397642!3d34.09840109523141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c328cdd9ffd539%3A0xb3be8d1e218251f1!2sONE%26ALL%20Church%2C%20San%20Dimas!5e0!3m2!1sen!2sus!4v1729370013239!5m2!1sen!2sus`,
					title: `Embedded Google Map of the area around ONE&ALL Church, San Dimas`,
				},
				locationDetails: {
					name: 'ONE&ALL Church, San Dimas',
					address: '1404 W Covina Blvd San Dimas, CA 91773',
				},
				attractions: [
					{ title: 'Universal Studios', src: universal },
					{ title: 'Knotts Berry Farm', src: farm },
					{ title: 'Disneyland', src: disney },
				],
			}}
		/>
	</CirclesBG>
	<Footer />
</Layout>
