---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import FinalCTA from "../sections/FinalCTA.astro";

---

<Layout title="Schedule">
	<Hero />
		<main>
			<a id="sched-embed" href="//growtogether2024.sched.com/">View the Grow Together 2024 schedule &amp; directory.</a>
			<script type="text/javascript" src="https://growtogether2024.sched.com/js/embed.js" is:inline></script>
			<FinalCTA />
			<Footer />
		</main>
</Layout>
