---
import { Image } from 'astro:assets';
import paylocity from '../assets/png/2025-sponsors/paylocity.png';
import forte from '../assets/png/2025-sponsors/forte.png';
import thrivent from '../assets/png/2025-sponsors/thrivent.png';


const partners = [
	{ logo: paylocity, alt: 'paylocity', href: 'https://www.paylocity.com/' },
	{ logo: thrivent, alt: 'Strategically Connected', href: 'https://www.thrivent.com/' },
];
---

<style lang='scss' define:vars={{ 'swiper-navigation-color': 'white' }}>
	@use '../styles/abstracts/mixins' as m;
	.swiper {
		max-height: 30rem;
	}

    .partner-logo{
        max-height: 250px;
    }

	.partner-logo img {
		max-height: 250px;
		max-width: 100%;
	}

	.partners-swiper {
        display: flex;
        align-items: center; /* Vertically align the text */
        justify-content: center; /* Optionally center horizontally */
        height: 100%; /* Ensure it takes full height of the container */
    }

	.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
	
</style>
<div class='col-1 position-relative'>
	<div class='swiper-button-prev'></div>
</div>
<div class='col-10'>
	<div
		class='swiper'
		id='partners-swiper'
	>
		<div class='swiper-wrapper align-items-center'>
			{
				partners.map((logo) => (
					<div class='swiper-slide h-100 d-flex justify-content-center align-items-center'>
						<a
							href={logo.href}
							target='_blank'
							class='d-block h-100 w-100 partner-logo'
							title={`Open ${logo.alt}'s website in a new tab`}
						>
							<Image
								src={logo.logo}
								class='w-100 h-100 object-fit-contain'
								alt={logo.alt}
							/>
							<div class='swiper-lazy-preloader swiper-lazy-preloader-white' />
						</a>
					</div>
				))
			}
		</div>
	</div>
</div>
<div class='col-1 position-relative'>
	<div class='swiper-button-next'></div>
</div>
<script>
	import 'swiper/css';
	import 'swiper/css/navigation';
	import 'swiper/css/autoplay';
	import 'swiper/css/a11y';
	import Swiper from 'swiper';
	import { Autoplay, Navigation, A11y } from 'swiper/modules';

	new Swiper('#partners-swiper', {
		loop: true,
		modules: [Autoplay, Navigation, A11y],
		lazyPreloadPrevNext: 1,
		speed: 500,
		spaceBetween: 20,
		autoplay: {
			pauseOnMouseEnter: true,
		},

		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
