---
import { Image } from 'astro:assets';
import likewise from '../assets/png/2025-partners/logo__likewise--white.png';
import xp from '../assets/png/2025-partners/logo__xp-gathering--white.png';
import rag from '../assets/png/slides/RAG-logo-sm-white.png';

const partners = [
	{ src: xp, alt: 'XP Gathering' },
	{ src: likewise, alt: 'Likewise' },
	{ src: rag, alt: 'Rescue a Generation' },
];
---

<style lang='scss' define:vars={{ 'swiper-navigation-color': 'white' }}>
	@use '../styles/abstracts/mixins' as m;
	.swiper {
		max-height: 30rem;
	}
</style>
<div class='col-1 position-relative'>
	<div class='swiper-button-prev'></div>
</div>
<div class='col-10'>
	<div
		class='swiper'
		id='partners-swiper'
	>
		<div class='swiper-wrapper align-items-center'>
			{
				partners.map((logo) => (
					<div class='swiper-slide h-100 d-flex justify-content-center align-items-center'>
						<Image
							src={logo.src}
							class='w-100 h-100 object-fit-contain'
							alt={logo.alt}
							style={`${'Rescue a Generation' === logo.alt ? 'max-height: 86px' : ''}`}
						/>
						<div class='swiper-lazy-preloader swiper-lazy-preloader-white' />
					</div>
				))
			}
		</div>
	</div>
</div>
<div class='col-1 position-relative'>
	<div class='swiper-button-next'></div>
</div>
<script>
	import 'swiper/css';
	import 'swiper/css/navigation';
	import 'swiper/css/autoplay';
	import 'swiper/css/a11y';
	import Swiper from 'swiper';
	import { Autoplay, Navigation, A11y } from 'swiper/modules';

	new Swiper('#partners-swiper', {
		loop: true,
		modules: [Autoplay, Navigation, A11y],
		lazyPreloadPrevNext: 1,
		speed: 800,
		spaceBetween: 20,
		autoplay: {
			pauseOnMouseEnter: true,
		},
		breakpoints: {
			991: {
				slidesPerView: 2,
			},
			1200: {
				slidesPerView: 3,
			},
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
