---
import { Image } from 'astro:assets';

export interface Props {
	attraction: {
		title: string;
		src: ImageMetadata;
	};
}
const { attraction } = Astro.props;
---

<li
	class='attraction col-lg-4'
	data-aos='fade-in'
>
	<div class='card-body'>
		<figure class='ratio ratio-1x1 rounded-5 overflow-hidden'>
			<Image
				class='w-100 h-100 object-fit-cover'
				src={attraction.src}
				alt={attraction.title}
			/>
		</figure>
		<h4 class='card-title fs-5 mb-0'>
			{attraction.title}
		</h4>
	</div>
</li>
