---
export interface Props {
	attraction: {
		name: string;
		url?: string;
	};
}
const { attraction } = Astro.props;
---

<li class="attraction">
	<div class="card-body">
		<h4 class="card-title fw-normal fs-5">
			{attraction.name}
		</h4>
	</div>
</li>
