---
export interface Props {
	attraction: {
		name: string;
		image: string;
		imageAlt: string;
	};
}
const { attraction } = Astro.props;
---

<div class="attraction">
	<img
		src={attraction.image}
		class="card-img-top"
		alt={attraction.imageAlt}
	/>
	<div class="card-body">
		<h4 class="card-title fw-normal fs-5">
			{attraction.name}
		</h4>
	</div>
</div>
