---
type ColorValues = {
	leadership: string;
	people: string;
	practices: string;
};
export interface Props {
	scriptColor?: string | ColorValues;
}
import People from '../components/svg/people.astro';
import Practices from '../components/svg/practices.astro';
import Leadership from '../components/svg/leadership.astro';

const { scriptColor } = Astro.props;
const colors = {
	leadership: 'var(--bs-dark)',
	people: 'var(--bs-dark)',
	practices: 'var(--bs-dark)',
};

if (scriptColor) {
	switch (typeof scriptColor) {
		case 'string':
			colors.leadership = scriptColor;
			colors.people = scriptColor;
			colors.practices = scriptColor;
			break;
		case 'object':
			colors.leadership = scriptColor.leadership;
			colors.people = scriptColor.people;
			colors.practices = scriptColor.practices;
			break;
	}
}
---

<div class='row row-cols-1 row-cols-lg-3 my-5 justify-content-around'>
	<figure
		class='col d-flex text-center align-items-center justify-content-lg-center'
		data-aos='fade-right'
		data-aos-delay={150}
		aria-label='Courageous Leadership'
	>
		<span
			class='fw-bold fs-4 me-2 text-capitalize'
			aria-hidden='true'
			>Courageous</span
		>
		<Leadership color={colors.leadership} />
	</figure>
	<figure
		class='col d-flex text-center align-items-center justify-content-lg-center'
		data-aos='fade-right'
		data-aos-delay={250}
		aria-label='Healthy Practices'
	>
		<span
			class='fw-bold fs-4 me-2 text-capitalize'
			aria-hidden='true'
			>Healthy</span
		>
		<Practices color={colors.practices} />
	</figure>
	<figure
		class='col d-flex text-center align-items-center justify-content-lg-center'
		data-aos='fade-right'
		data-aos-delay={350}
		aria-label='Effective People'
	>
		<span
			class='fw-bold fs-4 me-2 text-capitalize'
			aria-hidden='true'
			>Effective</span
		>
		<People color={colors.people} />
	</figure>
</div>
