---
export interface Props {
	location: string;
	address: string;
	classes?: string;
}
const { location, address, classes = '' } = Astro.props;
---

<style lang='scss'>
	.location {
		display: grid;
		grid-template-columns: 2.4rem 1fr;

		&__icon {
			grid-column: 1 / 2;
			--size: 2.4rem;
			width: var(--size);
			height: var(--size);
			justify-self: flex-end;
			margin-inline-end: 5px;
		}

		&__name {
			grid-column: 2 / 3;
		}
		&__address {
			grid-column: 2 / 3;
		}
	}
</style>
<div class={`location ${classes}`}>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		fill='currentColor'
		class='bi bi-geo-alt-fill location__icon'
		viewBox='0 0 16 16'
	>
		<path
			d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6'
		></path>
	</svg>
	<p class='location__name fw-bold fs-5'>{location}</p>
	<p class='location__address fs-6'>{address}</p>
</div>
