---
const { href } = Astro.props;
---

<h3>Find A Place to Stay</h3>
<p class='fs-6'>Here's a quick google result of some hotels nearby.</p>
<a
	href={href}
	target='_blank'
	class='btn btn-outline-dark'
	>View Nearby Hotels</a
>
