---
const { href } = Astro.props;
---

<h3 class='fs-2'>Find A Place to Stay</h3>
<p>Here's a quick google result of some hotels nearby.</p>
<a
	href={href}
	target='_blank'
	class='btn btn-outline-dark rounded-pill'
	>View Nearby Hotels</a
>
