---
// Components
import { Image } from 'astro:assets';

// Images
import mugWhite from '../assets/svg/icons/mug--white.svg';
import badgeWhite from '../assets/svg/icons/badge--white.svg';
import megaphoneWhite from '../assets/svg/icons/megaphone--white.svg';
import chartWhite from '../assets/svg/icons/chart--white.svg';
import paperWhite from '../assets/svg/icons/paper--white.svg';
import paperclipWhite from '../assets/svg/icons/paperclip--white.svg';
import phoneWhite from '../assets/svg/icons/phone--white.svg';
import dollarWhite from '../assets/svg/icons/dollar--white.svg';
import shieldWhite from '../assets/svg/icons/shield--white.svg';
import lineGradient from '../assets/png/line-gradient.png';

const roles = [
	{
		image: mugWhite,
		role: 'Senior Leaders',
	},
	{
		image: badgeWhite,
		role: 'People Managers',
	},
	{
		image: megaphoneWhite,
		role: 'Marcom',
	},
	{
		image: chartWhite,
		role: 'Advanced HR',
	},
	{
		image: paperWhite,
		role: 'Legal',
	},
	{
		image: paperclipWhite,
		role: 'HR Foundations',
	},
	{
		image: phoneWhite,
		role: 'Business Admin',
	},
	{
		image: dollarWhite,
		role: 'Finance',
	},
	{
		image: shieldWhite,
		role: 'Safety',
	},
];

const { classes } = Astro.props;
---

<style lang="scss">
	@use '../styles/abstracts/mixins' as m;
	.roles-grid {
		display: grid;
		place-content: center;

		@include m.media-breakpoint-up(md) {
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
		}

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&__role {
			margin: 2rem auto;
			font-size: 3rem;
			text-transform: uppercase;
		}

		&__line-gradient {
			height: 10rem;
			width: 0.2rem;
		}

		&__image {
			img {
				height: 8rem;
			}
		}
	}
</style>

<div class={`${classes} roles-grid`}>
	{
		roles.map((role) => (
			<div class="roles-grid__container">
				<div class="roles-grid__image">
					<Image src={role.image} alt="" data-aos="zoom-in" />
				</div>
				<p class="fw-bold roles-grid__role">{role.role}</p>
				<Image src={lineGradient} alt="" />
			</div>
		))
	}
</div>
<!-- Button trigger modal -->
<a
	role="button"
	class="text-secondary fw-bold fs-5"
	data-bs-toggle="modal"
	data-bs-target="#exampleModal"
>
	Learn More
</a>

<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">
					Modal title
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">Modal body text here</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button
				>
				<button type="button" class="btn btn-primary"
					>Save changes</button
				>
			</div>
		</div>
	</div>
</div>
