---
import { Image } from 'astro:assets';

// Logos
import oneDigital from '../assets/png/2025-sponsors/one-digital-health-and-benefits.png';
import paylocity from '../assets/png/2025-sponsors/paylocity.png';
import forte from '../assets/png/2025-sponsors/forte.png';
import cla from '../assets/png/2025-sponsors/clifton-larson-allen.png';
import strategicallyConnected from '../assets/png/2025-sponsors/strategically-connected.png';
import thrivent from '../assets/png/2025-sponsors/thrivent.png';
import FivestarLogo from '../components/svg/FivestarLogo.astro';
import SaltzmanLogo from '../components/svg/SaltzmanLogo.astro';

const logos = [
	{ logo: oneDigital, alt: 'one digital' },
	{ logo: cla, alt: 'clifton larson allen' },
	{ logo: paylocity, alt: 'paylocity' },
	{ logo: forte, alt: 'forte' },
	{ logo: strategicallyConnected, alt: 'Strategically Connected' },
	{ logo: thrivent, alt: 'Strategically Connected' },
];
---

<style>
	.swiper-slide {
		img,
		figure {
			max-width: 100%;
			height: clamp(200px, 20vh, 330px);
		}
	}
</style>
<div class='row justify-content-center'>
	<div class='col-lg-10'>
		<div
			class='row'
			style='--swiper-navigation-color:var(--bs-dark)'
		>
			<div class='col-1 position-relative'>
				<div class='swiper-button-prev'></div>
			</div>
			<div class='col-10'>
				<div
					class='swiper h-auto'
					id='sponsor-swiper'
				>
					<div class='swiper-wrapper align-items-center'>
						{
							logos.map((logo) => (
								<div class='swiper-slide d-flex justify-content-center align-items-center'>
									<Image
										src={logo.logo}
										class='logo object-fit-scale'
										alt={logo.alt}
									/>
									<div class='swiper-lazy-preloader swiper-lazy-preloader-white' />
								</div>
							))
						}
						<div
							class='swiper-slide d-flex justify-content-center align-items-center'
						>
							<figure
								class='mb-0 d-flex flex-column justify-content-center'
							>
								<FivestarLogo
									style='mono'
									class={'h-100'}
								/>
							</figure>
						</div>
						<div
							class='swiper-slide d-flex justify-content-center align-items-center'
						>
							<figure
								class='mb-0 d-flex flex-column justify-content-center'
							>
								<SaltzmanLogo class={'h-100'} />
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class='col-1 position-relative'>
				<div class='swiper-button-next'></div>
			</div>
		</div>
	</div>
</div>
<script>
	import 'swiper/css';
	import 'swiper/css/navigation';
	import 'swiper/css/a11y';
	import 'swiper/css/autoplay';
	import Swiper from 'swiper';
	import { Navigation, A11y, Autoplay } from 'swiper/modules';

	new Swiper('#sponsor-swiper', {
		loop: true,
		modules: [Navigation, A11y, Autoplay],
		autoHeight: true,
		spaceBetween: 20,
		speed: 500,
		autoplay: {
			pauseOnMouseEnter: true,
		},
		centerInsufficientSlides: true,
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
