---
import MailchimpWaitlist from './MailchimpWaitlist.astro';

export interface Props {
	class?: string | string[];
}

const { class: className } = Astro.props;
---

<script>
	import 'bootstrap/js/dist/modal';
</script>
<button
	type='button'
	class:list={['btn', className]}
	data-bs-toggle='modal'
	data-bs-target='#waitlistModal'
>
	Join Waitlist
</button>

<div
	class='modal fade'
	id='waitlistModal'
	tabindex='-1'
	aria-labelledby='waitlistModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h1
					class='modal-title h5'
					id='waitlistModalLabel'
				>
					Sign up for the Grow Together 2025 Waitlist!
				</h1>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				<MailchimpWaitlist />
			</div>
		</div>
	</div>
</div>
