---
// Components
import { Image } from 'astro:assets';

// Images
import paperGrey from '../assets/svg/icons/paper--grey.svg';
import chartGrey from '../assets/svg/icons/chart--grey.svg';
import dollarGrey from '../assets/svg/icons/dollar--grey.svg';
import crumpledPaperGrey from '../assets/svg/icons/crumpled-paper--grey.svg';
import badgeGrey from '../assets/svg/icons/badge--grey.svg';

const icons = [
	{
		src: chartGrey,
		class: 'about__icons--chart',
	},
	{
		class: 'about__icons--paper d-none d-sm-block',
		src: paperGrey,
	},
	{
		class: 'about__icons--dollar d-none d-md-block',
		src: dollarGrey,
	},
	{
		class: 'about__icons--badge',
		src: badgeGrey,
	},
	{
		class: 'about__icons--crumpled-paper d-none d-md-block',
		src: crumpledPaperGrey,
	},
];

const aboutList = [
	'Struggling with Continuing Education that aligns with Ministry Values',
	'Uninspired teams',
	'Loneliness of not having a professional community',
	'Coming back from a conference with no action items',
	'Lack of exposure to new ministry opportunities',
];
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as m;
	.about {
		%icons {
			height: 5rem;
		}

		&__icons {
			&--chart {
				@extend %icons;
				bottom: 0;

				@include m.media-breakpoint-up(lg) {
					bottom: 2.5rem;
					left: 5.625rem;
				}
				@include m.media-breakpoint-up(xl) {
					bottom: 5.625rem;
					left: 5.625rem;
				}
			}

			&--paper {
				@extend %icons;
				top: 0;
				left: 1.25rem;

				@include m.media-breakpoint-up(lg) {
					top: 3.125rem;
					left: 7.5rem;
				}

				@include m.media-breakpoint-up(xl) {
					top: 7.5rem;
					left: 7.5rem;
				}
			}

			&--dollar {
				@extend %icons;

				left: 25rem;
				top: -2.5rem;

				@include m.media-breakpoint-up(lg) {
					top: 0.25rem;
				}
			}

			&--badge {
				@extend %icons;
				top: 0;
				right: 12.5rem;

				@include m.media-breakpoint-up(lg) {
					top: 1rem;
					right: 25rem;
				}
			}

			&--crumpled-paper {
				@extend %icons;

				top: 28.125rem;
				right: 1.25rem;

				@include m.media-breakpoint-up(lg) {
					top: 15rem;
					right: 6.25rem;
				}

				@include m.media-breakpoint-up(xl) {
					top: 15rem;
					right: 3.125rem;
				}
			}
		}
	}
</style>

<section
	id='about'
	class='about overflow-hidden position-relative py-5 container'
>
	<div>
		{
			icons.map((icon) => (
				<Image
					data-aos='zoom-in'
					class:list={[icon.class, 'position-absolute']}
					src={icon.src}
					alt='icon'
				/>
			))
		}
	</div>
	<div class='row justify-content-center py-5'>
		<div class='col-lg-8'>
			<h2>Growing Together is crucial for ministry.</h2>
			<p class='fs-5'>
				Every department in the church faces different challenges, and
				it can be hard to find the right answers to your team’s
				questions. Equip your team with the knowledge and support they
				need—bring them with you! Get your tickets today before they run
				out.
			</p>
			<!-- <ul>
				{aboutList.map((item) => <li class='fs-5'>{item}</li>)}
			</ul> -->
		</div>
	</div>
</section>

<script>
	import AOS from 'aos/dist/aos.js';
	AOS.init();
</script>
