---
import { Image } from 'astro:assets';
import paperGrey from '../assets/svg/icons/paper--grey.svg';
import chartGrey from '../assets/svg/icons/chart--grey.svg';
import dollarGrey from '../assets/svg/icons/dollar--grey.svg';
import crumpledPaperGrey from '../assets/svg/icons/crumpled-paper--grey.svg';
import badgeGrey from '../assets/svg/icons/badge--grey.svg';
import bgImage from '../assets/png/bg-images/about.png';

const icons = [
	{
		src: chartGrey,
		class: 'about__icons--chart',
	},
	{
		class: 'about__icons--paper d-none d-sm-block',
		src: paperGrey,
	},
	{
		class: 'about__icons--dollar d-none d-md-block',
		src: dollarGrey,
	},
	{
		class: 'about__icons--badge',
		src: badgeGrey,
	},
	{
		class: 'about__icons--crumpled-paper d-none d-md-block',
		src: crumpledPaperGrey,
	},
];

const aboutList = [
	'Build foundational skills and knowledge that aligns with the ministry values and context across nine unique tracks.',
	'Build lasting community connections to fight siloes and feeling alone in ministry.',
	'Receive a vast array of tools and resources that will equip you for the full year of ministry ahead.',
	'Unlock a virtual pass for year-long access to all recorded Grow Together Conference sessions.',
	'Inspire your team and develop your leadership skills.',
];
---

<style lang="scss">
	@use '../styles/abstracts/mixins' as m;
	.about {
		@include m.media-breakpoint-up(lg) {
			background-size: cover;
			background-position: center -5rem;
			margin: -5rem auto;
			padding: 14rem 0;
		}

		@include m.media-breakpoint-up(xl) {
			background-size: contain;
			background-position: 0% -2rem;
			margin: -5rem auto;
			padding: 14rem 0;
		}

		%icons {
			position: absolute;
			height: 8rem;
		}

		&__icons {
			&--chart {
				@extend %icons;
				bottom: 0;

				@include m.media-breakpoint-up(lg) {
					bottom: 4rem;
					left: 9rem;
				}
				@include m.media-breakpoint-up(xl) {
					bottom: 9rem;
					left: 9rem;
				}
			}

			&--paper {
				@extend %icons;
				top: 0;
				left: 2rem;

				@include m.media-breakpoint-up(lg) {
					top: 5rem;
					left: 12rem;
				}

				@include m.media-breakpoint-up(xl) {
					top: 12rem;
					left: 12rem;
				}
			}

			&--dollar {
				@extend %icons;

				left: 40rem;
				top: -4rem;
				@include m.media-breakpoint-up(lg) {
					top: 3rem;
				}
			}

			&--badge {
				@extend %icons;
				top: 0;
				right: 20rem;
				@include m.media-breakpoint-up(lg) {
					top: 3rem;
					right: 40rem;
				}
			}

			&--crumpled-paper {
				@extend %icons;

				top: 45rem;
				right: 2rem;
				@include m.media-breakpoint-up(lg) {
					top: 24rem;
					right: 10rem;
				}
				@include m.media-breakpoint-up(xl) {
					top: 24rem;
					right: 5rem;
				}
			}
		}

		&__background {
			@include m.background-layers;
			background-position: left;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&__content {
			z-index: 9;
			position: relative;
		}
	}

	.about-list {
		margin-inline-start: 0;
		font-size: 1.35em;
	}
</style>
<section
	id="about"
	class="about overflow-hidden"
	style={`background-image:url(${bgImage.src})`}
>
	<div class="about__icons--container">
		{
			icons.map((icon) => (
				<Image
					data-aos="zoom-in"
					class={icon.class}
					src={icon.src}
					alt="icon"
				/>
			))
		}
	</div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-xl-9">
				<h2 class="text-secondary col-xl-9">
					Growing Together is crucial for ministry.
				</h2>
				<p class="fw-bold fs-4 mb-3">By attending you will:</p>
				<ul class="about-list">
					{
						aboutList.map((item) => (
							<li class="about-list__item">{item}</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</section>
<script>
	import AOS from 'aos/dist/aos.js';
	AOS.init();
</script>