---
const thisYear = new Date().getFullYear();
---

<script>
	const thisYear = new Date().getFullYear();
	document.getElementById('copyright-year')!.textContent = `${thisYear}`;
</script>
<footer class='text-bg-primary py-5'>
	<div class='container'>
		<div class='row'>
			<div
				class='col text-center'
				id='copyright'
			>
				<p>
					&copy; <span id='copyright-year'>{thisYear}</span>
					<a
						class='text-reset'
						href='https://kingdomone.co/'
						target='_blank'
						>Kingdom One</a
					>
					<br /> All Rights Reserved.
				</p>
				<a
					class='text-reset'
					href='https://kingdomone.co/get-started'
					target='_blank'
					>Find out how Kingdom One can help your ministry.</a
				>
			</div>
		</div>
	</div>
</footer>
