---
// Components
import { Image } from 'astro:assets';

// Images
import mugGrey from '../assets/svg/icons/mug--grey.svg';
import phoneGrey from '../assets/svg/icons/phone--grey.svg';
import chartGrey from '../assets/svg/icons/chart--grey.svg';
import paperGrey from '../assets/svg/icons/paper--grey.svg';
import shieldGrey from '../assets/svg/icons/shield--grey.svg';
import logo from '../assets/png/logo__grow-together--black.png';

// Components
import ConferenceValues from '../components/ConferenceValues.astro';
import GivingTuesdayBadge from '../components/GivingTuesdayBadge.astro';

const icons = [
	{ name: 'mug', src: mugGrey },
	{ name: 'phone', src: phoneGrey },
	{ name: 'chart', src: chartGrey },
	{ name: 'paper', src: paperGrey },
	{ name: 'shield', src: shieldGrey },
];
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as m;
	%icons {
		--size: 3.75rem;
		height: var(--size);
		width: var(--size);
		bottom: 0rem;

		@include m.media-breakpoint-up(md) {
			--size: 5rem;
		}
	}

	.grow-together {
		&__logo {
			height: 240px;
		}

		&__icons {
			&--mug {
				@extend %icons;

				@include m.media-breakpoint-up(sm) {
					right: 0rem;
				}

				@include m.media-breakpoint-up(lg) {
					right: 2.5rem;
					bottom: 22rem;
				}

				@include m.media-breakpoint-up(xl) {
					right: 2.5rem;
				}
			}

			&--phone {
				@extend %icons;

				@include m.media-breakpoint-up(sm) {
					right: 5rem;
				}

				@include m.media-breakpoint-up(lg) {
					right: 7.5rem;
					bottom: 5rem;
				}

				@include m.media-breakpoint-up(xl) {
					right: 12.5rem;
				}
			}

			&--chart {
				@extend %icons;

				@include m.media-breakpoint-up(sm) {
					right: 10rem;
				}

				@include m.media-breakpoint-up(lg) {
					right: 12.5rem;
					bottom: 11.25rem;
				}

				@include m.media-breakpoint-up(xl) {
					right: 15rem;
				}
			}

			&--paper {
				@extend %icons;

				@include m.media-breakpoint-up(sm) {
					right: 15rem;
				}

				@include m.media-breakpoint-up(lg) {
					right: 17.5rem;
					bottom: 18.75rem;
				}

				@include m.media-breakpoint-up(xl) {
					right: 9.25rem;
				}
			}

			&--shield {
				@extend %icons;

				@include m.media-breakpoint-up(sm) {
					right: 20rem;
				}

				@include m.media-breakpoint-up(lg) {
					right: 22.5rem;
					bottom: 8.75rem;
				}

				@include m.media-breakpoint-up(xl) {
					right: 3.125rem;
				}
			}
		}
	}
</style>

<section
	id='grow-together'
	class='grow-together position-relative py-5 overflow-hidden'
>
	<div class='container'>
		<div class='row'>
			<div class='col'>
				<GivingTuesdayBadge
					badgeType='light'
					text='Initiative One'
				/>
			</div>
		</div>
		<div class='row my-5 justify-content-start'>
			<div class='col-lg-9'>
				<Image
					src={logo}
					alt='Grow Together Conference Logo'
					class='w-auto object-fit-contain grow-together__logo'
				/>
				<h2>Help Send Ministry Leaders to our Conference</h2>
				<p class='fs-5'>
					Each year, Kingdom One hosts the Grow Together conference to
					help ministry staff learn healthy ways to grow their
					ministry, create community, and engage with practices to
					help them become more effectual. Your donation supports
					scholarships to invite ministries to become more courageous,
					healthy, and effective!
				</p>
			</div>
			<div class='col-10'>
				<ConferenceValues />
			</div>
		</div>
		<div class='col-xl-3 d-sm-block d-none'>
			{
				icons.map((icon) => (
					<Image
						data-aos='zoom-in'
						src={icon.src}
						alt=''
						class={`grow-together__icons--${icon.name} position-absolute`}
					/>
				))
			}
		</div>
	</div>
</section>

<script>
	import AOS from 'aos/dist/aos.js';
	AOS.init();
</script>
