---
import { Image } from 'astro:assets';
import LocationPin from '../components/LocationPin.astro';
import sandiego from '../assets/svg/san-diego-skyline.svg';
import AttractionPreview from '../components/AttractionPreview.astro';
import SanDiegoButton from '../components/SanDiegoButton.astro';
import Button from '../components/Button.astro';
import NearbyHotel from '../components/NearbyHotel.astro';

const attractions = [
	{
		name: 'Seaport Village',
		image: '...',
		imageAlt: '...',
	},
	{
		name: 'San Diego Zoo',
		image: '...',
		imageAlt: '...',
	},
	{
		name: 'Sea World San Diego',
		image: '...',
		imageAlt: '...',
	},
];
---

<style lang="scss">
	.san-diego {
		margin-top: -10rem;
	}
</style>
<section class="san-diego">
	<div class="san-diego__background clip-color-right">
		<div class="san-diego__background--color bg-dark"></div>
		<div class="san-diego__background--lower"></div>
	</div>
	<div class="container text-white position-relative z-3 my-5">
		<div class="row">
			<Image
				src={sandiego}
				alt="An outline of the San Diego Skyline"
				class="w-auto"
			/>
		</div>
		<div class="row my-5">
			<div class="col-lg-7">
				<div class="row">
					<h2 class="fs-1">San Diego</h2>
					<p class="fs-5">
						It takes a coordinated effort to get ministry teams
						aligned and working towards a common goal. Continuing
						education, networking & exposure to new ministry
						opportunities don't happen too often. The Grow Together
						Conference propels your ministry team to gain actionable
						insights, sharpen their skill, and expand their network.
						Get a jump on your 2024 ministry health by purchasing
						your tickets today.
					</p>
				</div>
				<div class="row">
					<h3 class="fs-2 mt-5">Date & Time</h3>
					<p class="fs-5">
						Thursday, January 25, 2024 • 8:30am &ndash; 4pm PST
					</p>
				</div>
				<div class="row my-5">
					<div class="col-lg-8">
						<NearbyHotel
							href="https://www.google.com/maps/search/Hotel/@32.7427563,-116.9936538,8z/data=!3m1!4b1!4m7!2m6!3m5!2sSkyline+Church,+11330+Campo+Rd,+La+Mesa,+CA+91941!3s0x80d95a38d4ee797d:0xb8cc5bce4570e13!4m2!1d-116.9524542!2d32.7426819?entry=ttu"
						/>
					</div>
				</div>
				<div class="row">
					<h3 class="fs-2">Local Attractions</h3>
					<ul class="row ms-4">
						{
							attractions.map((attraction) => (
								<AttractionPreview attraction={attraction} />
							))
						}
					</ul>
				</div>
			</div>
			<div class="col-lg-5 mt-5 mt-lg-0">
				<h3>Location</h3>
				<div
					class="embed-container border rounded-5 overflow-hidden ratio ratio-1x1"
				>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7344.667341873558!2d-116.9586396371053!3d32.742006675234755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d95a38d4ee797d%3A0xb8cc5bce4570e13!2sSkyline%20Church!5e0!3m2!1sen!2sus!4v1702435571681!5m2!1sen!2sus"
						width="100%"
						height="100%"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<LocationPin
					classes="mt-3"
					location="Skyline Church"
					address="11330 Campo Rd, La Mesa, CA 91941"
				/>
			</div>
		</div>
		<div class="row my-5 justify-content-center">
			<SanDiegoButton color="white" variant="outline" classes="my-5" />
		</div>
	</div>
</section>
