---
import SponsorSwiper from '../components/SponsorSwiper.astro';
---

<aside class='sponsors bg-secondary py-5'>
	<div class='container d-flex flex-column row-gap-4'>
		<div class='row'>
			<div class='col'>
				<h2
					class='sponsors__headline text-primary text-center text-capitalize'
				>
					Thank you to our sponsors
				</h2>
			</div>
		</div>
		<div class='row'>
			<SponsorSwiper />
		</div>
	</div>
</aside>
