---
import CampaignTracker from '../components/CampaignTracker';
import InitiativeBox from '../components/InitiativeBox.astro';
import GivingTuesday from '../components/svg/giving-tuesday.astro';
---

<style>
	.logo-container svg {
		height: 3rem;
	}
</style>
<section
	id='sponsor'
	class='text-bg-dark py-5'
>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-4 logo-container'>
				<GivingTuesday textColor='white' />
				<h2 class='text-yellow text-lowercase text-center mt-4'>
					sponsor a project
				</h2>
			</div>
		</div>
		<div class='row justify-content-center'>
			<div class='col-lg-10'>
				<p class='text-white fs-5 text-center'>
					This Giving Tuesday you could give to any non-profit, when
					you give to Kingdom One you are supporting ministries to
					engage with a network of people, gain access to tools, and
					be resourced to be more courageous, healthy, and effective.
				</p>
			</div>
		</div>
		<div class='row justify-content-center text-bg-primary my-5 py-5 gx-5'>
			<div class='col-12 my-5'><CampaignTracker client:visible /></div>
			<div
				class='col-12 row row-cols-1 row-cols-md-2 row-gap-4 align-items-stretch justify-content-around gx-5'
			>
				<div class='col-md-5'>
					<InitiativeBox
						label='Initiative One'
						name='Grow Together Conference'
					>
						<ul>
							<li>
								$1 &mdash; Support our Grow Together Conference
							</li>
							<li>
								$190 1 church staff member will receive{' '}
								<strong>free</strong> admission
							</li>
							<li>
								$1,000 1 church staff team will receive{' '}
								<strong>free</strong> admission
							</li>
						</ul>
					</InitiativeBox>
				</div>
				<div class='col-md-5'>
					<InitiativeBox
						label='Initiative Two'
						name='Kingdom One Academy'
					>
						<ul>
							<li>$1 &mdash; Support our Kingdom One Academy</li>
							<li>$200 supports a course module creation</li>
							<li>
								$1,000 sponsors a new learning pathway and
								improves the user experience
							</li>
						</ul>
					</InitiativeBox>
				</div>
			</div>
		</div>
		<div class='row justify-content-center mt-5'>
			<div class='col-auto'>
				<a
					href='#give'
					class='btn btn-primary'
					>Give Now</a
				>
			</div>
		</div>
	</div>
</section>
