---
import SponsorSwiper from '../components/SponsorSwiper.astro';
---

<aside class="sponsors bg-secondary">
	<div class="container">
		<div class="row my-5">
			<div class="col">
				<h2
					class="sponsors__headline text-primary text-center text-capitalize"
				>
					Thank you to our sponsors
				</h2>
			</div>
		</div>
		<div class="row">
			<SponsorSwiper />
		</div>
	</div>
</aside>
