---
import Hero from '../Hero.astro';

import { Image } from 'astro:assets';

import leadership from '../../assets/svg/Leadership.svg';
import people from '../../assets/svg/People.svg';
import practices from '../../assets/svg/practices.svg';
import InlandEmpireButton from '../../components/InlandEmpireButton.astro';
import YouTubeVideo from '../../components/YouTubeVideo.astro';
import Button from '../../components/Button.astro';

const words = [
	{ word: 'Courageous', svg: leadership, alt: 'leadership' },
	{ word: 'Healthy', svg: people, alt: 'people' },
	{ word: 'Effective', svg: practices, alt: 'practices' },
];
---

<Hero>
	<div class='row my-5 pt-5'>
		<div class='col-12 col-xl-6'>
			<h2 class='text-white'>Inspire Your Ministry Team to Grow</h2>
			<p class='fs-5 text-white'>
				Grow Together focuses on equipping your team with high-quality
				training from ministry professionals who care about your health,
				growth, and culture. We aim to grow the church by providing best
				practices your team can easily implement. Now's your chance to
				sign up for an event where your team grows, stays united, and
				finds a helpful community committed to seeing all ministries
				grow together.
			</p>
		</div>
		<div class='col-12 col-xl-6'>
			<YouTubeVideo
				videoId={`6RFQrjcMhSE`}
				quality='hqdefault'
			/>
		</div>
	</div>
	<div class='row my-5 mx-0'>
		<Button
			color='secondary'
			variant='fill'
			href='https://academy.kingdomone.co/course/grow-together-conference-library/'
			classes='ms-2'
			>Watch Now</Button
		>
		<!-- <Button
			color='white'
			variant='outline'
			href='https://academy.kingdomone.co/course/grow-together-conference-library/'
			classes='ms-2'
			>2025 Save the Date</Button
		> -->
	</div>
	<div class='row row-cols-1 row-cols-lg-3 my-5 justify-content-around'>
		{
			words.map((word, index) => {
				const delay = (index + 1) * 150;
				return (
					<div
						class='col d-flex text-center align-items-center justify-content-lg-center'
						data-aos='fade-right'
						data-aos-delay={delay}
					>
						<span class='fw-bold fs-4 me-2'>
							{word.word}
							<br class='d-none d-lg-block d-xxl-none' />
							<Image
								src={word.svg}
								alt={word.alt}
							/>
						</span>
					</div>
				);
			})
		}
	</div>
</Hero>
