---
import Hero from '../Hero.astro';

import YouTubeVideo from '../../components/YouTubeVideo.astro';
import ConferenceValues from '../../components/ConferenceValues.astro';
---

<Hero>
	<div class='row my-5 pt-5'>
		<div class='col-12 col-xl-6'>
			<h2 class='text-white'>Inspire Your Ministry Team to Grow</h2>
			<p class='fs-5 text-white'>
				Grow Together focuses on equipping your team with high-quality
				training from ministry professionals who care about your health,
				growth, and culture. We aim to grow the church by providing best
				practices your team can easily implement. Now's your chance to
				sign up for an event where your team grows, stays united, and
				finds a helpful community committed to seeing all ministries
				grow together.
			</p>
		</div>
		<div class='col-12 col-xl-6'>
			<YouTubeVideo
				videoId={`6RFQrjcMhSE`}
				quality='hqdefault'
			/>
		</div>
	</div>
	<div class='row my-5 gx-0'>
		<div class='col'>
			<a
				target='_blank'
				href='https://academy.kingdomone.co/course/grow-together-conference-library'
				class='btn btn-spark-yellow rounded-pill ms-2 border-3 fw-bold text-uppercase'
				>Watch Now</a
			>
			<a
				target='_blank'
				href='http://eepurl.com/iQuU6M'
				class='btn btn-outline-light rounded-pill ms-2 border-3 fw-bold text-uppercase'
				>2025 Save the Date</a
			>
		</div>
	</div>
	<div class='row'>
		<div class='col'><ConferenceValues scriptColor='white' /></div>
	</div>
</Hero>
