---
import Hero from '../Hero.astro';
import Button from '../../components/Button.astro';
import InlandEmpireButton from '../../components/InlandEmpireButton.astro';
---

<Hero>
	<div class="row my-4">
		<div class="col-10">
			<h1 class="text-capitalize">Schedule & Map</h1>
			<p class="fs-4">
				Everything you need to be prepared for the conferece
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<InlandEmpireButton color="secondary" variant="fill" />
			<Button
				color="secondary"
				isExternal={false}
				variant="outline"
				href="/schedule#map"
				text="Vew Map"
				classes="ms-3"
			/>
		</div>
	</div>
</Hero>
