---
import Hero from '../Hero.astro';
---

<Hero>
	<div class='row my-4'>
		<div class='col-10'>
			<h1 class='text-capitalize'>Schedule & Map</h1>
			<p class='fs-4'>
				Everything you need to be prepared for the conferece
			</p>
		</div>
	</div>
</Hero>
