@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/clip-paths";

:root {
	--font-headings: #{v.$font-poppins};
	--font-body: #{v.$font-poppins};
	--font-poppins: #{v.$font-poppins};
}
