@use "../abstracts/variables" as v;

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
	#{$heading},
	.#{$heading} {
		text-wrap: pretty;
	}
}

.fs-base {
	font-size: 1rem !important;
}
